.square_button {
	color: white;
	border: none;

	&:hover {
		background: none;
	}
}

button {
	&.square_button {
		color: white;
		border: none;

		&:hover {
			background: none;
		}

		// Save
		&--green:hover {
			color: $color-generic-green;
		}
	}

	// Edit
	&[title*='shift+e'],
	&[title*='shift+l'] {
		&:hover {
			color: $color-generic-accent;
		}
	}

	// Pin/Unpin
	&[ng-click*='pin_status'],
	&[title*='shift+a'] {
		padding-left: 12px;
		border-left: $style-border-separator;

		&:hover {
			color: $color-generic-accent;
		}
	}

	// Save
	&[title*='shift+enter']:hover {
		color: $color-generic-green;
	}

	// Cancel
	&[ng-click*='cancel_correction'],
	&[ng-click*='cancel_editing'],
	&[tabindex='3'] {
		padding-left: 10px;
		border-left: $style-border-separator;

		&:hover {
			color: $color-generic-red;
		}
	}

	// Submit
	&[type='submit']:hover {
		color: $color-generic-green;
	}
}

span {
	// Cancel
	&[ng-hide*='saving'] {
		padding-left: 10px;
		border: none;
		border-left: $style-border-separator;

		&:hover {
			color: $color-generic-red;
			background: none;
		}
	}
}

div {
	// Show More
	&[ng-click*='load_more()'] {
		padding: initial;
		border: none;

		&:hover {
			color: $color-generic-accent;
			background: none;
		}
	}
}

// About "x" box
.u-float_right {
	user-select: none;

	> div {
		// Suggestion
		&[ng-if*='comments' i] {
			@include icon($icon-comment, $hover: true);

			background: none;
			border: none;
		}

		// Report
		&:nth-child(2) {
			@include icon($icon-chevron-down, $hover: true);

			background: none;
			border: none;
		}
	}

	div {
		// Share
		&:nth-of-type(2) {
			@include icon($icon-share, $hover: true);

			border: none;

			&:hover {
				color: $color-generic-accent;
				background: none;
			}
		}

		// Report
		&:nth-of-type(3) {
			@include icon($icon-chevron-down, $hover: true);

			background: none;
			border: none;
		}
	}

	// Pyong
	pyong-button .pyong_button {
		border: none;

		&:hover {
			background: none;
		}

		> span:first-child {
			@include icon($icon-hashtag, $hover: true);
		}
	}
}
