@import '../variables';
@import '../mixins/scrollbar';

.standalone_search {
	@include scrollbar($color-secondary, 20px, 0.3rem);

	.global_search-search_results {
		background: $color-primary-dark;

		// Song results
		.mini_card {
			background: $color-secondary-dark;

			&:not(.mini_card--transparent):hover {
				background: $color-primary-hover;
			}

			// Views icon
			svg {
				fill: white;
			}

			// Lyric matches
			&-info > div:nth-child(2) > span {
				color: $color-generic-accent;
			}
		}

		// Show more X button
		.full_width_button {
			color: white;
			background: $color-secondary-dark;
		}

		// Video and Article results
		search-result-section {
			&:nth-child(6),
			&:nth-child(7) {
				a,
				.search_results_label {
					display: none;
				}
			}
		}

		mini {
			&-video,
			&-article {
				&-card {
					display: none;
				}
			}
		}

		// Album results
		.vertical_album_card {
			color: white;
			background: $color-secondary-dark;

			&:hover {
				background: $color-primary-hover;
			}
		}
	}
}
