.voting {
	&-upvote,
	&-downvote {
		> svg {
			display: none;
		}
	}

	&-upvote {
		@include icon($icon-upvote, $hover: true, $hover-color: $color-generic-green);

		// Upvote label
		> span {
			display: none;
		}
	}

	&-downvote {
		@include icon($icon-downvote, $hover: true, $hover-color: $color-generic-red);
	}

	&-total {
		padding: 0 7px 0 4px;
	}

	.square_button {
		border: none;
	}
}
