@import '../../variables';

.iuSLgK {
    background: $dark-primary;

    // ACCOUNT header
    .lcnMaT {
        user-select: none;
        color: white;
        font-weight: bold;
    }

    // Nav buttons
    .eJJKMv {
        color: white;
        border-top: 0.15rem solid #333333;

        &:hover {
            background: $primary-hover;
        }
    }
}