@import '../../global/variables';
@import '../../global/styles/voting';
@import '../../global/styles/buttons';

inbox-container[inbox-name='main_activity_inbox'] {
	.feed_dropdown {
		&-header {
			span {
				display: none;
			}

			&::after {
				content: 'NOTIFICATIONS';
			}
		}

		&-expanded_section {
			// Song
			.inbox_line_item_detail {
				background: $color-primary;

				.mini_card {
					background: $color-primary-light;
					border: 0.3rem solid $color-primary-light;

					&:hover {
						background: $color-primary-hover;
					}

					// Views icon
					.inline_icon {
						fill: white;
					}
				}

				// Lyric edits
				.lyrics {
					// Insertions
					ins {
						color: $color-generic-green;
						background: none !important;
						text-decoration: none;
					}

					// Deletions
					del {
						color: $color-generic-red;
						background: none !important;
						text-decoration: none;
					}
				}

				// Annotation
				.referent {
					&_container {
						background: $color-primary-dark;
					}

					// Highlight
					&--white {
						background: $color-secondary-light;
						box-shadow: none;
					}
				}

				// Buttons
				.u-vertical_margins {
					// Edit
					.square_button {
						border: none;

						&:hover {
							color: $color-generic-green;
							background: none;
						}
					}

					.u-float_right div:nth-child(3):hover {
						color: white;
					}
				}

				&-section .gray_container {
					background: none;

					// State label
					> .text_label {
						color: $color-generic-accent;
					}

					// Show 10 More Lines button
					expandable-diff {
						.square_button {
							border-top: 2px solid gray;
							border-bottom: 2px solid gray;
							border-left: none;
							border-right: none;
							margin: 1rem 0;
							display: block;

							&:hover {
								background: none;
							}

							.text_label--gray {
								color: white;

								&:hover {
									color: $color-generic-accent;
								}
							}
						}
					}
				}
			}
		}
	}
}
