contribution-opportunity,
inbox-container[inbox-name='iq_inbox'] {
	// Opportunity card
	.contribution_opportunity {
		background: scale-color($dark-secondary, $lightness: 2%);
		box-shadow: none;

		&-content {
			// Input focused
			.tags.focused {
				box-shadow: none;
			}

			// Save & Cancel buttons
			.u-small_top_margin {
				.square_button {
					border: none;
				}

				// Cancel hover
				span:hover {
					color: $color-generic-red;
					background: none;
				}

				// Save hover
				button:hover {
					color: $color-generic-green;
					background: none;
				}
			}

			.iq_pill {
				color: $color-generic-green;
				margin-top: 0.52rem;
			}
		}

		&-actions {
			background: scale-color($dark-secondary, $lightness: 4%);

			// Open & Skip buttons
			.u-text_right {
				.square_button {
					border: none;

					&--transparent {
						padding: 0 0.7em;
						transform: scale(1.2);
					}

					&--gray:hover {
						background: none;
					}
				}

				// Skip hover
				span:hover {
					color: $color-generic-red;
				}

				// Open hover
				a:hover {
					color: $color-generic-green;
				}
			}

			// Edit button
			.square_item_and_iq {
				.square_button {
					color: white;
					border: none;

					&--green:hover {
						color: $color-generic-green;
						background: none;
					}
				}

				.iq_pill {
					margin-top: 0.42rem;
					color: $color-generic-green;
				}
			}
		}
	}

	// Input
	.square_input {
		color: $color-generic-green;
		background: scale-color($dark-secondary, $lightness: 2%);
		border: 0.15rem solid scale-color($dark-tertiary, $lightness: -3%);
		caret-color: white;

		&:active,
		&:focus {
			box-shadow: none;
		}
	}
}
