@import './header/main';
@import './header/notifications';
@import './header/opportunities';

// LATEST section
.bBDcg,
// VIDEOS section
#videos,
// FEATURED section
#featured-stories {
	display: none;
}

#top-songs,
#community {
	background: $color-primary;

	// Headers
	.fEyCAH {
		color: white;
	}

	// Subheaders
	.khEySD h3 {
		color: $color-generic-accent;
	}

	// Generic text
	.ljPCDr {
		color: white;
	}

	// Buttons
	.gsoAZX {
		color: white;
		border: none;
		border-bottom: $style-border-separator;

		&:hover {
			background: $color-primary-hover;
		}
	}
}

#top-songs {
	.hliVmp {
		// Currently viewing
		.ixtWtE {
			@include icon(
				$icon-fire,
				$hover: true,
				$hover-color: $color-generic-accent
			);
		}

		// Currently viewing numbers
		.cdJbFg {
			color: $color-generic-orange;
		}
	}

	// SONGS / ALL GENRES / TODAY dropdown
	.dqbVnf {
		border: none;
		border-bottom: $style-border-separator;
		line-height: initial;

		.euenQK {
			background: $color-primary;
			// Dropdown text
			> .lcnMaT {
				color: white;
			}

			// Dropdown icon
			> .cMZZs {
				@include icon($icon-chevron-down, $top: 0);

				&::before {
					left: 5px;
				}
			}
		}

		// Dropdown content
		.hnIVtc {
			background: $color-primary;

			// Dropdown table headers
			.lcnMaT {
				color: white;
			}

			// Selected icon
			.gIwQZZ .gMvRPT svg {
				fill: white;
			}
		}
	}

	// Hover color
	.qsIlk:hover {
		background: $color-secondary-dark;
	}

	// Song views icon
	.GcnrE {
		@include icon($icon-eye);

		&::before {
			right: 5px;
		}
	}
}

#community {
	// IQ Earned Today
	div[class*='iq' i] > .cdJbFg {
		margin-right: 22%;
		color: $color-generic-accent;
		font-size: 1rem;
	}

	// Hover color
	.dUTFUv:hover {
		background: $color-secondary-dark;
	}
}
