@import './header';
@import './sections/charts';
@import './sections/community';
@import '../global/variables';

// LATEST section
.bBDcg,
// VIDEOS section
#videos,
// FEATURED section
#featured-stories {
	display: none;
}

// Other page headers
.header {
	&-nav_menu,
	&-primary {
		background: $primary;

		.logo_link::before {
			background: url('https://imgur.com/C1A8Wdr.png') 0 0;
		}
	}

	&-action {
		&-icon {
			// Forums
			&--groups_inbox::before {
				background: url($icon-forums) no-repeat;
			}

			// Feed
			&--newsfeed_inbox::before {
				background: url($icon-feed) no-repeat;
			}

			// Notifications
			&--main_activity_inbox::before {
				background: url($icon-notification) no-repeat;
			}

			// Messages
			&--messages_inbox::before {
				background: url($icon-messages) no-repeat;
			}

			// Earn IQ
			&--iq_inbox::before {
				background: url($icon-earn_iq) no-repeat;
			}
		}

		&-label {
			color: white;
		}
	}
}

// Homepage header
#application {
	// Logo
	.jNXEyt svg {
		fill: white;
	}

	// Main header
	.dmNhEr,
	.jjeDWE {
		background: $primary;
	}

	// Menu labels
	.gHwbnY {
		.ljPCDr {
			color: white;
		}

		.dusnMI {
			// Label icon
			svg {
				fill: white;
			}

			// Label text
			.ljPCDr {
				color: white;
			}
		}
	}
}
