@import '../variables';

.act-new.cont-songs {
	.add_song_page {
		> h1,
		&-header {
			font-family: Programme, sans-serif;
		}

		&-section {
			// Input boxes
			.text_input {
				border: $dark-border;
				border-radius: 0;
				background: $dark-primary;
				color: white;
			}

			// Possible Duplicates
			.suggestions {
				// Header
				> h4 {
					color: $accent !important;
				}

				// Song list percentage
				> .primary_list .work_in_progress {
					> .bad,
					> .very_bad {
						color: $red;
					}

					> .medium {
						color: $yellow;
					}
				}
			}

			// Primary tag
			.primary_tag_chooser-tag {
				input {
					position: relative;
					opacity: 0;
					cursor: pointer;

					+ label {
						position: relative;
						right: 18px;

						&:before {
							position: relative;
							height: 12px;
							width: 12px;
							top: 2px;
							margin-right: 6px;
							content: '';
							display: inline-block;
							background: $dark-primary;
							border: $dark-border;
							border-radius: 50%;
						}
					}

					&:checked + label:before {
						background: $accent;
					}
				}
			}

			input#song_lyrics_state {
				position: relative;
				opacity: 0;
				cursor: pointer;

				+ label {
					position: relative;
					right: 18px;

					&:before {
						position: relative;
						height: 12px;
						width: 12px;
						top: 3px;
						margin-right: 6px;
						content: '';
						display: inline-block;
						background: $dark-primary;
						border: $dark-border;
					}
				}

				&:checked + label:before {
					background: $accent;
				}
			}

			// Add album input
			.fields input {
				border: $dark-border;
				border-radius: 0;
				background: $dark-primary;
				color: white;
			}

			// Extra tags
			#tag_chooser_container {
				.chzn {
					// Input
					&-choices {
						border: $dark-border;
						border-radius: 0;
						background: $dark-primary;
						color: white;

						// Tag style
						.search-choice {
							position: relative;
							top: 2px;
							border-radius: 0;
							background: $dark-tertiary;
							color: white;
							border: none;
							box-shadow: none;
						}
					}

					&-drop {
						border: none;
					}

					// Autocomplete results
					&-results {
						background: $dark-secondary;
						color: white;

						.highlighted {
							background: $primary-hover;
						}

						&::-webkit-scrollbar {
							background: #303030;
							width: 20px;

							&-thumb {
								background: white;
								border: 0.3rem solid #303030;
							}
						}
					}
				}
			}
		}

		// Release date dropdowns (only selected)
		&-release_date {
			position: relative;

			select {
				border: $dark-border;
				background: $dark-primary;
				color: white;
			}
		}
	}

	// Artist results
	.ac {
		&_odd,
		&_even {
			border-bottom: 0.1rem solid #333333;
			background: $dark-secondary;

			// String match highlight
			> strong {
				color: $accent;
			}
		}

		// Current hover
		&_over {
			background: $primary-hover;
		}
	}
}
