.act-new.cont-songs {
	.add_song_page {
		> h1,
		&-header {
			font-family: Programme, sans-serif;
		}

		&-section {
			// Input boxes
			.text_input {
				color: white;
				background: $color-secondary-dark;
				border: $style-border-dark;
				border-radius: 0;
			}

			// Possible Duplicates
			.suggestions {
				// Header
				> h4 {
					color: $color-generic-accent !important;
				}

				// Song list percentage
				> .primary_list .work_in_progress {
					> .bad,
					> .very_bad {
						color: $color-generic-red;
					}

					> .medium {
						color: $color-generic-yellow;
					}
				}
			}

			// Primary tag
			.primary_tag_chooser-tag {
				input {
					cursor: pointer;
					opacity: 0;
					position: relative;

					+ label {
						position: relative;
						right: 18px;

						&::before {
							content: '';
							display: inline-block;
							height: 12px;
							width: 12px;
							position: relative;
							top: 2px;
							margin-right: 6px;
							background: $color-secondary-dark;
							border: $style-border-dark;
							border-radius: 50%;
						}
					}

					&:checked + label::before {
						background: $color-generic-accent;
					}
				}
			}

			input#song_lyrics_state {
				cursor: pointer;
				opacity: 0;
				position: relative;

				+ label {
					position: relative;
					right: 18px;

					&::before {
						content: '';
						display: inline-block;
						height: 12px;
						width: 12px;
						position: relative;
						top: 3px;
						margin-right: 6px;
						background: $color-secondary-dark;
						border: $style-border-dark;
					}
				}

				&:checked + label::before {
					background: $color-generic-accent;
				}
			}

			// Add album input
			.fields input {
				color: white;
				background: $color-secondary-dark;
				border: $style-border-dark;
				border-radius: 0;
			}

			// Extra tags
			#tag_chooser_container {
				.chzn {
					// Input
					&-choices {
						color: white;
						background: $color-secondary-dark;
						border: $style-border-dark;
						border-radius: 0;

						// Tag style
						.search-choice {
							position: relative;
							top: 2px;
							color: white;
							background: $color-secondary-light;
							border: none;
							border-radius: 0;
							box-shadow: none;
						}
					}

					&-drop {
						border: none;
					}

					// Autocomplete results
					&-results {
						@include scrollbar($color-secondary, 20px, 0.3rem);

						color: white;
						background: $color-primary-dark;

						.highlighted {
							background: $color-primary-hover;
						}
					}
				}
			}
		}

		// Release date dropdowns (only selected)
		&-release_date {
			position: relative;

			select {
				color: white;
				background: $color-secondary-dark;
				border: $style-border-dark;
			}
		}
	}

	// Artist results
	.ac {
		&_odd,
		&_even {
			background: $color-primary-dark;
			border-bottom: 0.1rem solid $color-secondary;

			// String match highlight
			> strong {
				color: $color-generic-accent;
			}
		}

		// Current hover
		&_over {
			background: $color-primary-hover;
		}
	}
}
