artist-songs-and-albums {
	// LAYOUT: POPULAR {{ARTIST}} SONGS
	.mini_card {
		background: transparent;

		&:not(.mini_card--transparent):hover {
			background: transparent;

			> .mini_card-info .mini_card-title {
				color: $color-generic-accent;
			}
		}

		&_grid-song {
			margin: 0.3rem 0;
			width: 50%;

			.mini_card {
				// IMAGE: {{song_art}}
				&-thumbnail {
					height: 90px;
					width: 90px;
					border-radius: 6px;
				}

				&-info {
					display: block;
					padding-top: 0;
					background: transparent;

					.mini_card {
						// LABEL: {{song_title}}
						&-title {
							font-size: 16px;
						}

						// LABEL: {{ARTIST}}
						&-subtitle {
							display: none;
						}
					}

					div:nth-child(2) > div > span {
						@include icon($icon-eye, $top: 4px);
					}
				}
			}
		}
	}

	// BUTTON: Show all songs by {{artist}}
	.full_width_button {
		margin-top: 20px;
		color: white;
		background: transparent;
		border-top: 2px solid gray;
		border-bottom: 2px solid gray;

		&:hover {
			color: $color-generic-accent;
			background: none;
		}
	}

	// LAYOUT: POPULAR {{ARTIST}} ALBUMS
	> album-grid {
		// BUTTON: Show all albums by {{artist}}
		.full_width_button {
			@extend .full_width_button;

			margin-top: -10px;
		}

		.thumbnail_grid {
			padding: 0.3rem;

			&-grid_element {
				margin-bottom: initial;

				> vertical-album-card > .vertical_album_card {
					padding: initial !important;
					margin-bottom: 20px;

					&--active {
						box-shadow: none;
					}

					> .cover_art {
						border-radius: 6px;
					}

					> .vertical_album_card-info {
						display: none;
						position: relative;
						bottom: 27px;
						left: 7px;
						font-size: 15px;
						text-align: left;

						// TEXT: {{album_title}}
						> h3 {
							color: white;
						}

						// TEXT: {{year}}
						> .vertical_album_card-release_date {
							position: relative;
							bottom: 32px;
							color: $color-generic-accent;
							font-size: 12px;
						}
					}

					&:hover {
						margin-bottom: initial;
						background: none !important;

						// IMAGE: {{album_art}}
						.cover_art::after {
							content: '';
							height: 100%;
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;
							background: linear-gradient(transparent, #101010);
						}

						// TEXT: {{album_title}}
						.vertical_album_card-info {
							display: block;
							margin-bottom: -20px;

							> h3 {
								white-space: nowrap;
								overflow: hidden;
								width: 150px;
								text-overflow: ellipsis;
							}
						}
					}
				}
			}
		}
	}
}

.modal_window {
	&-content--narrow_width {
		max-width: 800px;
	}

	scrollable-data > div[ng-if*='$scroll'] {
		display: flex;
		flex-wrap: wrap;
	}

	.u-display_block {
		flex-basis: 0;
		flex-grow: 1;

		> .profile_list_item {
			border-bottom: none;
			margin-right: 10px;

			&:hover {
				.mini_card-info .mini_card-title {
					color: $color-generic-accent;
				}
			}

			> mini-song-card {
				> .mini_card {
					background: transparent;

					&--small .mini_card {
						&-thumbnail {
							width: 75px;
							height: 75px;
							border-radius: 6px;
						}

						&-info {
							display: block;
							padding-top: 0.2rem;
						}
					}

					.mini_card-info {
						.mini_card {
							&-title {
								font-size: 15px;
							}

							&-subtitle {
								display: none;
							}
						}

						div:nth-child(2) > div > span {
							@include icon($icon-eye, $top: 4px);

							font-size: 12px;
						}
					}
				}
			}
		}
	}

	&-close_button {
		right: 0;
		top: 20px;
		left: 24rem;

		@include icon($icon-crossmark, $size: 1rem, $scale: 2.5);
	}
}
