// IQ Amount
.profile_identity-name_iq_and_role_icon {
	margin-bottom: 15px;

	> span {
		top: -1px;
		padding: 4px 10px;
		margin-left: 5px;
		color: white;
		background: none;
		border-left: 3px solid white;
		font-size: initial;
	}
}

profile-page {
	.profile_identity_and_description-action_row {
		// Edit
		div[ng-if*='edit'] {
			@include icon($icon-pencil, $top: 3.5px, $hover: true);

			color: white;
			border: none;

			&:hover {
				background: none;
			}
		}

		// Follow button
		a[ng-click*='follow'] {
			border: none;
			// Follow
			&:not([class*='--active']) {
				@include icon(
					$icon-plus,
					$top: 3.5px,
					$hover: true,
					$hover-color: $color-generic-green
				);
			}

			// Unfollow
			&[class*='--active'] {
				@include icon(
					$icon-minus,
					$top: 3.5px,
					$hover: true,
					$hover-color: $color-generic-red
				);

				background: none;
			}

			&:hover {
				background: none;
			}
		}

		// Message button
		> div[ng-if*='message'] {
			@include icon($icon-message, $top: 3.5px, $hover: true);

			border: none;

			&:hover {
				background: none;
			}

			&::before {
				margin-right: 7px;
			}
		}
	}

	div[scroll-point] scrollable-data {
		// Contribution dates
		.text_label {
			@include icon($icon-calendar);

			margin-top: 5px;
			color: white;
		}

		profile-contributions {
			// Transcription contributions
			&-transcriptions > a {
				@include icon($icon-transcription, 20px, 12px);

				&::before {
					right: 5px;
				}
			}

			// Annotation suggestions
			&-comments > a {
				@include icon($icon-comment, 20px, 12px);

				&::before {
					right: 5px;
				}

				// Content
				.note_bubble {
					margin-top: 0.5rem;
					background: $color-secondary-dark;
					border-radius: 0;

					&::before {
						display: none;
					}
				}
			}

			// Questions
			&-questions > div {
				@include icon($icon-question);

				&::before {
					right: 5px;
				}
			}

			// Question answers
			&-answers > div {
				@include icon($icon-checkmark);

				&::before {
					right: 6px;
				}
			}

			&-answers,
			&-questions {
				> div > div {
					> .u-bottom_margin {
						margin-bottom: 0.5rem;
					}

					// Dropdown button
					> div:nth-child(2) > question > li > div:nth-child(1) {
						@include icon($icon-chevron-down);

						border: none;

						&:hover {
							background: none;
						}
					}
				}
			}
		}
	}
}

// Dropdown actions
.drop-content {
	span[ng-if*='$ctrl.question'],
	span[ng-if*='answerApi.can_edit'] {
		@include icon($icon-pencil, $top: 0, $hover: true);

		&::before {
			margin-right: 10px;
		}

		&:hover {
			background: none;
		}
	}

	span[ng-if*='answerApi.can_clear'] {
		@include icon($icon-crossmark, 20px, 0, $hover: true, $hover-color: $color-generic-red);

		&::before {
			margin-right: 8px;
		}

		&:hover {
			background: none;
		}
	}
}

// Contribution
.profile_contribution {
	color: white;
	background: $color-primary;
	border-left: 3px solid $color-secondary-dark;
}

// Annotation contribution
.standalone_annotation {
	background: $color-primary-dark;

	// Annotated snippet
	.referent {
		background: $color-secondary-light;
		box-shadow: none;
	}

	// Song card
	.mini_card-info:hover {
		background: $color-primary-hover;
	}
}

// Stats
.statistics_panel {
	background: $color-primary;

	statistics-panel-item {
		// Annotations
		&[label^='Ann'] .statistic_and_label-primary {
			@include icon($icon-comment);
		}

		// Suggestions
		&[label^='S'] .statistic_and_label-primary {
			@include icon($icon-comment);
		}

		// Transcriptions
		&[label^='T'] .statistic_and_label-primary {
			@include icon($icon-transcription);
		}

		// Questions
		&[label^='Q'] .statistic_and_label-primary {
			@include icon($icon-question);
		}

		// Answers
		&[label^='Ans'] .statistic_and_label-primary {
			@include icon($icon-checkmark);
		}

		// Pyongs
		&[label^='P'] .statistic_and_label-primary {
			@include icon($icon-hashtag);
		}
	}
}

// Top Accomplishments
paginated-accomplishments {
	.leaderboard {
		// Artists
		&-row:not(.leaderboard-row--no_border) {
			border-bottom: 0.15rem solid $color-secondary;
		}

		// Show More
		&-load_more {
			border-top: 0.15rem solid $color-secondary;
		}
	}
}

// Bio
.white_container {
	background: $color-primary;
}
