profile-page {
	.profile_header {
		// IMAGE: User Avatar
		&-avatar--verified {
			border: 3px solid $color-generic-green;
		}

		&-tabs > .profile_tabs-tab::before {
			display: none;
		}
	}

	.profile_identity {
		// LAYOUT: @{{username}} {{iq}}
		&-name_iq_and_role_icon {
			margin-bottom: 15px;

			> .profile_identity-iq {
				top: -1px;
				padding: 4px 10px;
				margin-left: 5px;
				color: white;
				background: none;
				border-left: 2px solid white;
				font-size: initial;
			}
		}

		&_and_description {
			div[ng-if*='is_verified'] > span {
				color: $color-generic-green;
				border: none;
			}

			// LAYOUT: BUTTON{Edit} | BUTTON[{Follow, Following}, Message]
			&-action_row {
				// BUTTON: Edit
				.square_button[ng-if*='edit'] {
					@include icon($icon-pencil, $top: 1.5px, $hover: true);
				}

				// BUTTON[{Follow, Following}]
				follow-button > a[ng-click*='follow'] {
					padding: 0 0.5rem;

					// BUTTON: Follow
					&:not([class*='--active']) {
						@include icon($icon-plus, $hover: true, $hover-color: $color-generic-green);
					}

					// BUTTON: Following
					&[class*='--active'] {
						@include icon($icon-minus, $hover: true, $hover-color: $color-generic-red);

						background: none;

						&::after {
							content: 'Unfollow';
						}

						> span {
							display: none;
						}
					}
				}

				// BUTTON: Message
				> div[ng-if*='message'] {
					@include icon($icon-message, $hover: true);

					padding: 0 0.5rem 0 0.8rem;
					border-left: $style-border-separator;

					&::before {
						margin-right: 7px;
					}
				}
			}
		}
	}

	// LAYOUT: {{USERNAME}}'S CONTRIBUTIONS
	div[scroll-point] scrollable-data {
		// LABEL: MMMM DD, YYYY
		.text_label[ng-if*='date'] {
			@include icon($icon-calendar);

			margin-top: 5px;
			color: white;
		}

		// ITEM: Any Contribution
		.profile_contribution {
			color: white;
			background: $color-primary-dark;
			border-left: 3px solid $color-secondary-light;

			// LABEL: {{username}} [transcribed | created a page]
			&-content > span {
				color: #aaaaaa;
			}
		}

		profile-contributions {
			// ITEM: Transcription Contribution
			&-transcriptions > .profile_contribution {
				@include icon($icon-transcription, $scale: 1.25, $top: 3px);

				padding: 0.7rem 1rem;

				&::before {
					right: 7px;
				}

				// LABEL: {{song_title}} by {{artist}}
				.profile_contribution-target {
					font-weight: normal;
				}
			}

			// ITEM: Comment Contribution
			&-comments > .profile_contribution {
				@include icon($icon-comment, $scale: 1.25);

				&::before {
					right: 5px;
				}

				// Comment Content
				.note_bubble {
					margin-top: 0.5rem;
					background: $color-secondary-dark;
					border-radius: 0;

					&::before {
						display: none;
					}
				}
			}

			// ITEM: Question Contribution
			&-questions > .profile_contribution {
				@include icon($icon-question);

				&::before {
					right: 5px;
				}
			}

			// ITEM: Answer Contribution
			&-answers > .profile_contribution {
				@include icon($icon-checkmark);

				&::before {
					right: 6px;
				}
			}

			&-answers,
			&-questions {
				> .profile_contribution-target {
					> .u-bottom_margin {
						margin-bottom: 0.5rem;
					}

					// BUTTON: Dropdown
					> div:nth-child(2) > question > li > div:nth-child(1) {
						@include icon($icon-chevron-down);

						border: none;

						&:hover {
							background: none;
						}
					}
				}
			}

			// ITEM: Annotation Contribution
			&-annotations profile-annotation > .standalone_annotation {
				background: $color-primary-dark;

				> .standalone_annotation-referent_fragment {
					&::before {
						display: none;
					}

					.referent {
						background: $color-secondary-light;
						box-shadow: none;
					}
				}

				// ITEM: Song Card
				.mini_card-info:hover {
					background: $color-primary-hover;
				}
			}
		}
	}

	// LAYOUT: Bio
	.white_container {
		background: $color-primary;
	}

	// LAYOUT: Stats
	.statistics_panel {
		display: grid;
		background: $color-primary;
		grid-template: 1fr 1fr / 1fr 1fr 1fr;

		statistics-panel-item {
			// LABEL: ANNOTATIONS
			&[label^='Ann'] .statistic_and_label-primary {
				@include icon($icon-pencil);
			}

			// LABEL: SUGGESTIONS
			&[label^='S'] .statistic_and_label-primary {
				@include icon($icon-comment);
			}

			// LABEL: TRANSCRIPTIONS
			&[label^='T'] .statistic_and_label-primary {
				@include icon($icon-transcription);
			}

			// LABEL: Questions
			&[label^='Q'] .statistic_and_label-primary {
				@include icon($icon-question);
			}

			// LABEL: ANSWERS
			&[label^='Ans'] .statistic_and_label-primary {
				@include icon($icon-checkmark);
			}

			// LABEL: PYONGS
			&[label^='P'] .statistic_and_label-primary {
				@include icon($icon-hashtag);
			}
		}
	}

	// LAYOUT: TOP ACCOMPLISHMENTS
	paginated-accomplishments {
		.leaderboard {
			&-row:not(.leaderboard-row--no_border) {
				border-bottom: 0.15rem solid $color-secondary;
			}

			// LABEL: Show More
			&-load_more {
				border-top: 0.15rem solid $color-secondary;
			}
		}
	}
}

// Dropdown actions
.drop-content {
	span[ng-if*='$ctrl.question'],
	span[ng-if*='answerApi.can_edit'] {
		@include icon($icon-pencil, $top: 0, $hover: true);

		&::before {
			margin-right: 10px;
		}

		&:hover {
			background: none;
		}
	}

	span[ng-if*='answerApi.can_clear'] {
		@include icon(
			$icon-crossmark,
			$scale: 1.25,
			$top: 0,
			$hover: true,
			$hover-color: $color-generic-red
		);

		&::before {
			margin-right: 8px;
		}

		&:hover {
			background: none;
		}
	}
}
