@mixin icon($icon, $size: 18px, $top: 2.5px) {
	svg {
		display: none;
	}

	&::before {
		height: $size;
		width: $size;
		background: url($icon) no-repeat;
		position: relative;
		top: $top;
		margin: 0 2px;
		content: '';
		display: inline-block;
	}
}
