@mixin icon(
	$icon,
	$color: white,
	$size: 16px,
	$scale: 1.125,
	$top: 2.5px,
	$psuedo: before,
	$hover: false,
	$hover-color: $color-generic-accent
) {
	@if $hover {
		&:hover::#{$psuedo} {
			background: $hover-color;
			-webkit-mask: url($icon) no-repeat;
		}
	}

	svg {
		display: none;
	}

	&::#{$psuedo} {
		content: '';
		display: inline-block;
		transform: scale($scale);
		height: $size;
		width: $size;
		position: relative;
		top: $top;
		margin: 0 2px;
		background: $color;
		-webkit-mask: url($icon) no-repeat;
	}
}
