@mixin scrollbar($color: $color-secondary, $width: 25px, $border: 0.35rem) {
	&::-webkit-scrollbar {
		width: $width;
		background: $color;

		&-thumb {
			background: white;
			border: $border solid $color;
		}
	}
}
