// Album tracklist metadata
@mixin album-preview {
	// Album info
	.song_album-info {
		&-title,
		&-artist {
			color: white;
		}
	}

	// Album tracks
	.track_listing-track {
		// Track number
		span {
			color: scale-color(silver, $lightness: -25%);
		}

		// Current track
		&--current span {
			color: white;
		}

		a {
			color: scale-color(silver, $lightness: -25%);

			// Missing Lyrics label
			span {
				color: $color-generic-accent;
			}
		}
	}
}

album-page {
	.header_with_cover_art {
		&-cover_art .cover_art {
			outline-color: gray;

			&:first-child .cover_art-cta {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: linear-gradient(#101010 1%, transparent);
			}

			&:nth-child(2) {
				transform: translate3d(-0.7rem, -0.7rem, 0);
			}

			&:nth-child(3) {
				transform: translate3d(-1.4rem, -1.4rem, 0);
			}
		}

		&[style*='default_cover_art'] {
			background-image: url($image-banner-placeholder) !important;
		}
	}

	.cover_art-image[src*='default_cover_art'] {
		content: url($image-cover-placeholder);
	}
}

// Album page
album-tracklist-row {
	.chart_row {
		&--light_border {
			border-bottom: $style-border-dark;
		}

		&--full_bleed_left::before {
			content: none;
		}

		&-content {
			// Track title
			&-title {
				// @include icon($icon-checkmark, $color-generic-green, $psuedo: after);

				color: white;

				> svg[ng-if*='verified'] path {
					&:first-child {
						display: none;
					}

					&:last-child {
						transform: translate(-2px, -2.5px) scale(0.9);
						fill: $color-generic-green;
						d:
							path(
								'M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z'
							);
					}
				}
			}

			// Missing metadata
			div:first-child > song-missing-metadata > div {
				> missing-metadata-form:nth-child(3) {
					select {
						color: white;
						background: $color-secondary-dark;
						border: $style-border-dark;
					}
				}
			}
		}

		// Views icon – don't display for Missing Lyrics
		&-metadata_element:not([ng-if*='incomplete']) {
			@include icon($icon-eye);
		}

		// Dropdown
		&-expand {
			@include icon($icon-chevron-down);

			padding: 0.7rem;
		}
	}
}
