.modal_window-content {
	background: $dark-primary;

	.square {
		&_input {
			color: white;
			background: $dark-secondary;
			border: $dark-border;
		}

		&_form-sub_section {
			background: #2E2E2E;
		}
	}

	// Tags
	.tag-item {
		background: $dark-tertiary;
	}
}
