@import './inputs';

.modal_window {
	@include inputs;

	&-content {
		background: $color-secondary-dark;

		.square {
			&_input {
				color: white;
				background: $color-primary-dark;
				border: $style-border-dark;
			}

			&_form-sub_section {
				background: #2E2E2E;
			}
		}

		// Tags
		.tag-item {
			background: $color-secondary-light;
		}
	}
}
