@mixin inputs {
	// Song bio input
	.wysiwyg_input {
		background: $color-primary-dark;
		border: $style-border-dark;

		&:active,
		&:focus {
			box-shadow: none;
		}
	}

	// Missing Track Info inputs
	.tags_input {
		.tags.focused {
			box-shadow: none;
			caret-color: white;
		}

		.input {
			color: white;
		}

		// Autocomplete suggestions
		.autocomplete {
			background: $color-primary-light;
			box-shadow: none;
		}

		.suggestion {
			&-list {
				@include scrollbar($color-secondary, 20px, 0.3rem);
			}

			&-item.selected {
				background: $color-secondary;
			}
		}
	}

	// Release date input
	.square_select_group-single {
		position: relative;

		&::before {
			background: none;
		}

		// Dropdown arrow
		&::after {
			filter: invert(1);
		}

		select {
			color: white;
			background: $color-secondary-dark;
			border: $style-border-dark;
		}
	}

	// Input
	.square_input {
		color: silver;
		background: $color-primary;
		border: $style-border-dark;

		&:active,
		&:focus {
			box-shadow: none;
		}
	}
}
