@import './album';
@import './facts';
@import './inputs';
@import './metadata';
@import './share';

.song_body {
	@include album-preview;
	@include inputs;

	color: white;
	background: #121212;

	// Lyrics
	.lyrics {
		margin-top: -1rem;

		.referent {
			background: $color-secondary-light;
		}

		// Editing
		.wysiwyg_input {
			background: $color-primary-dark;
		}

		&_controls {
			color: white;
			background: #121212;
		}

		&-correct_line > .lyrics-correct_line-button.drop-target {
			@include icon($icon-pencil, 20px);

			background: none;
		}
	}

	.annotation_sidebar_unit {
		background: $color-secondary-light;

		.square_button--white_background {
			background: $color-secondary-light;
		}
	}

	.iq_pill {
		margin-top: 0.52rem;
		color: $color-generic-green;
	}

	// More On Genius section
	.u-xx_large_vertical_margins,
	.react_song_page_preview_link {
		display: none;
	}
}

// Pyong tooltop
span[ng-if*='pyonged'],
// Apple music preview
.apple_music_player_iframe_wrapper {
	display: none;
}

// Correct Line box
.drop-content {
	.tooltip {
		color: white;
		background: $color-primary-light;
		border: none;
	}

	textarea {
		color: white;
		background: $color-primary-dark;
		border: $style-border-dark;

		&:active,
		&:focus {
			box-shadow: none;
		}
	}
}

// INPUT: Add a comment
comments {
	.gray_container {
		background: none;
	}
}
