// Cover Art Metadata
.header_with_cover_art-metadata_preview--bottom_left {
	bottom: -15px;

	> div {
		// Numbers
		.text_label--gray {
			color: silver;
			font-size: 13px;
		}

		// Currently viewing
		&:first-child {
			@include icon($icon-clock, $scale: 1);

			span {
				color: $color-generic-orange;
			}
		}

		// Total views
		&:nth-child(2) {
			@include icon($icon-eye);

			margin: 0 1rem;
		}

		// Contributors
		&:last-child {
			@include icon($icon-people);

			margin: initial;

			> span {
				border-bottom: none;
			}
		}
	}
}

.song_body {
	// Quote
	blockquote {
		&::before {
			content: '\200b';
			top: 0.25rem;
			left: -0.2em;
			border-right: 3px solid darkgrey;
		}
	}

	// Expanded Metadata
	.gray_container {
		margin-bottom: 1rem;
		background: $color-primary-dark;

		.song_metadata div {
			&:first-child .metadata_with_icon {
				&:first-child > span:first-child {
					@include icon($icon-clock, $top: 0);
				}

				&:last-child > span:first-child {
					@include icon($icon-eye, $top: 0);
				}
			}

			&:last-child .metadata_with_icon {
				&:first-child > span:first-child {
					@include icon($icon-people, $top: 0);
				}

				&:last-child > span:first-child {
					@include icon($icon-tag, $top: 0);
				}
			}
		}

		// Edit Metadata
		.tiny_edit_button {
			@include icon($icon-pencil);

			background: transparent;
		}
	}
}

// Music Video
.bordered_media_container {
	padding-left: 0.8rem;
	padding-right: 0;
	background: none;
	border: none;
	text-align: center;
}
