@import '../../global/variables';

#top-songs {
	background: $primary;

	// CHARTS header
	.fEyCAH {
		color: white;
	}

	// Hover color
	.qsIlk:hover {
		background: $dark-primary;
	}

	// Song views icon
	.GcnrE svg {
		fill: white;
	}

	// SONGS / ALL GENRES / TODAY dropdown
	.dqbVnf {
		border: $rect-border;

		.euenQK {
			// Dropdown text
			> .lcnMaT {
				color: white;
			}

			// Dropdown icon
			> .cMZZs svg {
				fill: white;
			}

			background: $primary;
		}

		// Dropdown content
		.hnIVtc {
			background: $primary;

			// Dropdown table headers
			.lcnMaT {
				color: white;
			}

			// Selected icon
			.gIwQZZ .gMvRPT svg {
				fill: white;
			}
		}
	}

	// Song views
	.ljPCDr {
		color: white;
	}

	// LOAD MORE button
	.gsoAZX {
		color: white;
		border: 2px solid white;
	}
}
