@import '../../global/variables';

#community {
	background: $primary;

	// COMMUNITY header
	.fEyCAH {
		color: white;
	}

	// Hover color
	.dUTFUv:hover {
		background: $dark-primary;
	}

	// GET INVOLVED, LEARN HOW GENIUS WORKS, & LOAD MORE buttons
	.gsoAZX {
		color: white;
		border: $rect-border;
	}

	// Leaderboard headers
	.ljPCDr {
		color: white;
	}
}
